@page "{handler?}"
@model CodeYad_Blog.WEB.Pages.QueModel
@{

}

<div class="main-container container pt-24" id="main-container">

    <!-- Content -->
    <div class="row">

        <!-- Posts -->
        <div class="col-lg-8 blog__content mb-72">
            <h1 class="page-title">نتایج جستجو برای  : تکنولوژی</h1>

            <!-- tab content -->
            <div class="tabs__content tabs__content-trigger tab-post__tabs-content">

                <article class="entry card">
                    <div class="entry__img-holder card__img-holder">
                        <a href="single-post.html">
                            <div class="thumb-container thumb-70">
                                <img data-src="img/content/thumb/post-8.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
                            </div>
                        </a>
                        <a href="#" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">موبایل و گجت</a>
                    </div>

                    <div class="entry__body card__body">
                        <div class="entry__header">

                            <h2 class="entry__title">
                                <a href="single-post.html">گوشی تاشو هواوی میت ایکس در تاریخ مقرر عرضه می‌شود</a>
                            </h2>
                            <ul class="entry__meta">
                                <li class="entry__meta-author">
                                    <span>نویسنده:</span>
                                    <a href="#">بهرامی راد</a>
                                </li>
                                <li class="entry__meta-date">
                                    ۴ اردیبهشت ۱۳۹۸
                                </li>
                            </ul>
                        </div>
                        <div class="entry__excerpt">
                            <p>عد از اعلام تصمیم سامسونگ برای به عقب انداختن عرضه گلکسی فولد، شایعاتی مبنی بر احتمال تاخیر در عرضه ...</p>
                        </div>
                    </div>
                </article>                       
            </div> <!-- end tab content -->
        </div> <!-- end posts -->
        @if (Model.Filter.PageCount > 1)
        {
            <nav class="pagination">
                @for(var i=1 ; i<= Model.Filter.PageCount ; i++)
                {
                    if (i == Model.Filter.FilterParams.PageId)
                    {
                        <span class="pagination__page pagination__page--current">@i</span>
                    }
                    else
                    {
                        <a href="#" class="pagination__page">@i</a>                        
                    }
                }
                @if(Model.Filter.PageCount > Model.Filter.FilterParams.PageId)                
                {
                <a href="#"  onclick="changePage(@(Model.Filter.FilterParams.PageId ))"
                class="pagination__page pagination__icon pagination__page--next">
                <i class="ui-arrow-left"></i>
                </a>            
                }
            </nav> 
        }
        <!-- Sidebar -->
        <aside class="col-lg-4 sidebar sidebar--right" id="popular_posts">

        </aside >
    </div> <!-- end content --> 
</div> 
